.menu {
    position: fixed;
    display: flex;
    width: 90vw;
    height: auto;
    padding: 5vw;
    justify-content: space-between;
    z-index: 10;
}
.logoBox {
    
}
.logo {
    width: 50vw;
    height: auto;
}
.nav {
    clip-path: inset(0);
}
.navItem {

}
a.navLink {
    text-decoration: none;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 7vw;
}

@media screen and (min-width: 768px) {
    .menu {
        width: 95vw;
        padding: 2.5vw;
        justify-content: space-between;
    }
    .logoBox {
    
    }
    .logo {
        width: 25vw;
        height: auto;
    }
    .nav {
    
    }
    .navItem {
        
    }
    a.navLink {
        font-size: 2vw;
    }
}